label{
    padding: 4px;
    letter-spacing: 1px;
}

input{
    margin-bottom: 8px;
    width: 50%;
}

@media(max-width: 1030px){
    input{
        width: 70%;
    }
}
@media(max-width: 800px){
    input{
        width: 260px;
    }
}