/* You can add global styles to this file, and also import other style files */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* set forms basic style */

form{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

form .submitButton{
  margin-top: 2em;
  height: 3em;
  width: 20%;
  border-radius: 2em;
  background-color: rgb(235, 158, 99);
  font-size: 18px;
  font-weight: 700;
  border: 1px solid white;
  color: white;
}

form .submitButton:hover{
  cursor: pointer;
  background-color: rgb(243, 181, 134);
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: rgb(34, 65, 86);
  color: white;
  display: flex;
  justify-content: center;

}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


 header {
  background: rgb(189,241,241);
  background: radial-gradient(circle, rgba(189,241,241,0) 0%, rgb(95, 175, 229) 80%);
  width: 80vw;
  padding: 1em;
  border-radius: 0 0 8px 8px ;
}

section{
  padding: 1em;
  margin-top: 2em;
  background-color: rgb(32, 71, 96);
  min-height: 70vh;
  width: 80vw;
  border-radius: 16px;
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.155);
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}