.catalog ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}


.filters input {
width: 200px;
}

.filters label{
   width: 250px;
}


.filters {
    margin-top: 1em;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
