:root {
    --ul-height: 500px;
}

.home ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.home ul li{
    height: var(--ul-height);
    flex-basis: 33;
}

.home>ul>li>a {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


