:root {
    --ul-height: 600px;
}

.home ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.home ul li{
    height: var(--ul-height);
    flex-basis: 33;
}

.home>ul>li>a {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home ul li:nth-child(2) {
    height: calc(var(--ul-height) - 30px);
}

.home ul li:nth-child(3) {
    height: calc(var(--ul-height) - 60px);
}

