.catalogItem {
    margin-top: 1em;
    flex: 0 1 30%;
    border-radius: 8px;
    background: radial-gradient(circle, rgba(189,241,241,0) 0%, rgb(95, 175, 229) 90%);
    box-shadow: 0 0 6px rgba(238, 222, 222, 0.155);
    transition: transform 0.2s ease-in-out;
}

.catalogItem:hover{
    transform: scale(1.1);
}

.catalogItem img {
    width: 100%;
    border-radius: 8px;
    
}